{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}
{% block footer%} {% endblock %}
{% block body %}

<style>
.offcanvas.offcanvas-end {
      top: 80px;
  
}
</style>





<div class="container-xxl flex-grow-1 container-p-y">
          
  <div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6">
        <div class="card-body pt-12">
          <div class="user-avatar-section">
            <div class=" d-flex align-items-center flex-column">

            {% if is_granted('ROLE_FERMIER') %}
              <img class="img-fluid rounded mb-4" src="../../assets/img/avatars/fermier.png" height="120" width="120" alt="User avatar">
            {% endif %}

            {% if is_granted('ROLE_Fournisseur') %}
              <img class="img-fluid rounded mb-4" src="../../assets/img/avatars/fournisseur.png" height="120" width="120" alt="User avatar">
            {% endif %}

            {% if is_granted('ROLE_CLIENTR') %}
              <img class="img-fluid rounded mb-4" src="../../assets/img/avatars/client.png" height="120" width="120" alt="User avatar">
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
              <img class="img-fluid rounded mb-4" src="../../assets/img/avatars/admin.png" height="120" width="120" alt="User avatar">
            {% endif %}


              <div class="user-info text-center">
                <h5><span class="mx-1">{{ user.firstName }}</span><span>{{ user.lastName }}</span></h5>
                <span class="badge bg-label-secondary">Author</span>
              </div>
            </div>
          </div>
         
          <h5 class="pb-4 border-bottom mb-4">Details</h5>
          <div class="info-container">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                <span class="h6">FirstName:</span>
                <span>{{ user.firstName }}</span>
              </li>
              <li class="mb-2">
                <span class="h6">LastName:</span>
                <span>{{ user.lastName }}</span>
              </li>
              <li class="mb-2">
                <span class="h6">Email:</span>
                <span>{{ user.email }}</span>
              </li>
              <li class="mb-2">
              {% if is_granted('ROLE_FERMIER')%}
                <span class="h6">FarmName:</span>
                <span>{{ user.farmName }}</span>
              {% endif %}  
              {% if is_granted('ROLE_FOURNISSEUR') %}  
                <span class="h6">ConmanyName:</span>
                <span>{{ user.companyName }}</span>  
              {% endif %}
              </li>
            </ul>
            <div class="d-flex justify-content-center">
              <a href="{{ path('superadmin_edit', {'id': user.id}) }}" class="btn btn-success me-4" data-bs-target="#editUser" data-bs-toggle="modal">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /User Card -->
    
    </div>
    <!--/ User Sidebar -->

    <!-- User Content -->
    <div class="col-xl-8 col-lg-7 order-0 order-md-1">
      <!-- User Pills -->
     
      <!--/ User Pills -->

     

     
      <!-- Invoice table -->
      <div class="card mb-4 ">
        <div class="card-datatable table-responsive">
          <div id="DataTables_Table_1_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer"><div class="row border-bottom mx-0 px-3"><div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto px-4 mt-0"><h5 class="card-title mb-0 text-md-start text-center pt-6 pt-md-0 mt-3 mb-3">Invoice List</h5></div><div class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto px-4 mt-0 gap-2"><div class="dt-buttons btn-group flex-wrap justify-content-center"> </div></div></div><div class="justify-content-between dt-layout-table"><div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"><table class="table datatable-invoice dataTable dtr-column" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;"><colgroup><col data-dt-column="1" style="width: 150.453px;"><col data-dt-column="2" style="width: 159.484px;"><col data-dt-column="3" style="width: 146.016px;"><col data-dt-column="4" style="width: 216.047px;"><col data-dt-column="5" style="width: 244.656px;"></colgroup>
            <thead>
              <tr><th data-dt-column="0" class="control dt-orderable-none dtr-hidden" rowspan="1" colspan="1" aria-label="" style="display: none;"><span class="dt-column-title"></span><span class="dt-column-order"></span></th><th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-desc" aria-sort="descending" aria-label="#: Activate to remove sorting" tabindex="0"><span class="dt-column-title" role="button">#</span><span class="dt-column-order"></span></th><th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Status: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Status</span><span class="dt-column-order"></span></th><th data-dt-column="3" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-type-numeric" aria-label="Total: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Total</span><span class="dt-column-order"></span></th><th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Issued Date: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Issued Date</span><span class="dt-column-order"></span></th><th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="Actions"><span class="dt-column-title">Actions</span><span class="dt-column-order"></span></th></tr>
            </thead><tbody><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#5089</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Sent<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 05/09/2020</span>" data-bs-original-title="<span>Sent<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 05/09/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-success w-px-30 h-px-30"><i class="bx bx-check icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$3077</td><td>05/02/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#5041</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Sent<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 11/19/2020</span>" data-bs-original-title="<span>Sent<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 11/19/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-success w-px-30 h-px-30"><i class="bx bx-check icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$2230</td><td>02/01/2021</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#5027</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 09/25/2020</span>" data-bs-original-title="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 09/25/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-secondary w-px-30 h-px-30"><i class="bx bx-envelope icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$2787</td><td>09/28/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#5024</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> -$202<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 08/02/2020</span>" data-bs-original-title="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> -$202<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 08/02/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-secondary w-px-30 h-px-30"><i class="bx bx-envelope icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$5285</td><td>06/30/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#5020</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Downloaded<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 12/15/2020</span>" data-bs-original-title="<span>Downloaded<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 12/15/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-info w-px-30 h-px-30"><i class="bx bx-down-arrow-alt icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$5219</td><td>07/17/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#4995</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 06/09/2020</span>" data-bs-original-title="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 06/09/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-secondary w-px-30 h-px-30"><i class="bx bx-envelope icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$3313</td><td>08/21/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#4993</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 10/22/2020</span>" data-bs-original-title="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 10/22/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-secondary w-px-30 h-px-30"><i class="bx bx-envelope icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$4836</td><td>07/10/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#4989</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Downloaded<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 09/23/2020</span>" data-bs-original-title="<span>Downloaded<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 09/23/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-info w-px-30 h-px-30"><i class="bx bx-down-arrow-alt icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$3623</td><td>12/01/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#4989</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Past Due<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 08/01/2020</span>" data-bs-original-title="<span>Past Due<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> 0<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 08/01/2020</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-danger w-px-30 h-px-30"><i class="bx bx-error icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$5293</td><td>07/30/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr><tr><td class="control dtr-hidden" tabindex="0" style="display: none;"></td><td class="sorting_1"><a href="app-invoice-preview.html"><span>#4965</span></a></td><td>
              <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true" aria-label="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> $666<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 03/18/2021</span>" data-bs-original-title="<span>Partial Payment<br>
                           <span class=&quot;fw-medium&quot;>Balance:</span> $666<br>
                           <span class=&quot;fw-medium&quot;>Due Date:</span> 03/18/2021</span>">
                <span class="badge badge-center d-flex align-items-center justify-content-center rounded-pill bg-label-secondary w-px-30 h-px-30"><i class="bx bx-envelope icon-xs"></i></span>
              </span>
            </td><td class="dt-type-numeric">$3789</td><td>09/27/2020</td><td>
              <div class="d-flex align-items-center">
                <a href="javascript:;" class="btn btn-icon delete-record"><i class="bx bx-trash icon-md"></i></a>
                <a href="app-invoice-preview.html" class="btn btn-icon" data-bs-toggle="tooltip" aria-label="Preview" data-bs-original-title="Preview">
                  <i class="bx bx-show icon-md"></i>
                </a>
                <div class="d-inline-block">
                  <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded icon-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="javascript:;" class="dropdown-item">Download</a>
                    <a href="app-invoice-edit.html" class="dropdown-item">Edit</a>
                    <a href="javascript:;" class="dropdown-item">Duplicate</a>
                  </div>
                </div>
              </div>
            </td></tr></tbody>
          </table></div></div><div class="row mx-3 justify-content-between"><div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto px-4 mt-0"></div>
          </div></div></div></div>
        </div>
      </div>
      <!-- /Invoice table -->
    </div>
    <!--/ User Content -->
  </div>

  <!-- Modal -->
  <!-- Edit User Modal -->
<div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-edit-user">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-6">
          <h4 class="mb-2">Edit User Information</h4>
          <p>Updating user details will receive a privacy audit.</p>
        </div>
        <form class="row g-6" onsubmit="return false">
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserFirstName">First Name</label>
            <input type="text" id="modalEditUserFirstName" name="modalEditUserFirstName" class="form-control" placeholder="John" value="John">
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserLastName">Last Name</label>
            <input type="text" id="modalEditUserLastName" name="modalEditUserLastName" class="form-control" placeholder="Doe" value="Doe">
          </div>
          <div class="col-12">
            <label class="form-label" for="modalEditUserName">Email</label>
            <input type="text" id="modalEditUserName" name="modalEditUserName" class="form-control" placeholder="johndoe007" value="johndoe007">
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserEmail">Email</label>
            <input type="text" id="modalEditUserEmail" name="modalEditUserEmail" class="form-control" placeholder="example@domain.com" value="example@domain.com">
          </div>
          
          <div class="col-12 col-md-6">
            <label class="form-label" for="modalEditUserEmail">Email</label>
            <input type="text" id="modalEditUserEmail" name="modalEditUserEmail" class="form-control" placeholder="example@domain.com" value="example@domain.com">
          </div>
          
          </div>
          <div class="col-12 text-center mb-3">
            <button type="submit" class="btn btn-success me-sm-3 me-1">Submit</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--/ Edit User Modal -->

  <!-- Add New Credit Card Modal -->
<div class="modal fade" id="upgradePlanModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-6">
          <h4 class="mb-2">Upgrade Plan</h4>
          <p>Choose the best plan for user.</p>
        </div>
        <form id="upgradePlanForm" class="row g-4" onsubmit="return false">
          <div class="col-sm-9">
            <label class="form-label" for="choosePlan">Choose Plan</label>
            <select id="choosePlan" name="choosePlan" class="form-select" aria-label="Choose Plan">
              <option selected="">Choose Plan</option>
              <option value="standard">Standard - $99/month</option>
              <option value="exclusive">Exclusive - $249/month</option>
              <option value="Enterprise">Enterprise - $499/month</option>
            </select>
          </div>
          <div class="col-sm-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Upgrade</button>
          </div>
        </form>
      </div>
      <hr class="mx-5 my-2">
      <div class="modal-body">
        <p class="mb-0">User current plan is standard plan</p>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="d-flex justify-content-center me-2 mt-1">
            <sup class="h6 pricing-currency pt-1 mt-2 mb-0 me-1 text-primary fw-normal">$</sup>
            <h1 class="mb-0 text-primary">99</h1>
            <sub class="pricing-duration mt-auto mb-5 pb-1 small text-body">/month</sub>
          </div>
          <button class="btn btn-label-danger cancel-subscription">Cancel Subscription</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Add New Credit Card Modal -->

  <!-- /Modal -->
        </div>
{% endblock %}
