{% extends 'base.html.twig' %}

{% block title %}fermier index{% endblock %}

{% block body %}

    <div class="card">
        <h5 class="card-header">List fermiers</h5>
        <button id="signInButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addfermierModal"><b> <i class="bx bx-add-to-queue me-1"></i> Add fermier </b></button>

        <!-- Modal pour ajouter un fermier -->
        <div class="modal fade" id="addfermierModal" tabindex="-1" aria-labelledby="addfermierModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addfermierModalLabel">Add fermier</h5>
                        <i class="bx bx-add-to-queue me-1"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(fermierFormType, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="input-group mb-3">
                            {{ form_widget(fermierFormType.firstName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Prenom'} }) }}
                            {{ form_errors(fermierFormType.firstName) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(fermierFormType.lastName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Nom'} }) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(fermierFormType.farmName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'FarmName'} }) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(fermierFormType.email, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Email'} }) }}
                            {{ form_errors(fermierFormType.email) }}
                        </div>
                        <button class="btn btn-lg btn-success w-100 fs-6 " type="submit">
                            <b>Ajouter</b>
                        </button>
                        {{ form_end(fermierFormType) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Tableau des fermiers -->
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>FarmName</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for fermier in fermiers %}
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ fermier.email }}</strong></td>
                            <td>{{ fermier.firstName }}</td>
                            <td>{{ fermier.lastName }}</td>
                            <td>{{ fermier.farmName }}</td>
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ fermier.id }}"><i class="bx bx-trash me-1"></i></button>
                                <a class="btn btn-success" href="{{ path('fermier_edit', {'id': fermier.id}) }}"><i class="bx bx-edit me-1"></i></a>
                            </td>
                        </tr>

                        <!-- Modal de confirmation de suppression pour chaque fermier -->
                        <div class="modal fade" id="deleteModal{{ fermier.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ fermier.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ fermier.id }}">Confirmation de suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce fermier ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <form method="post" action="{{ path('app_fermier_delete', {'id': fermier.id}) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fermier.id) }}">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun utilisateur trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}