{% extends 'baseclient.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <style>
        #contentRegister {
            width: 40%;
        }

        
        
       
        
    </style>

    <div class="container mt-5 mb-5 card shadow" id="contentRegister">
        <!-- Navigation par onglets -->
        <div class="card-header bg-light"> 
        <ul class="nav nav-tabs" id="myTab" role="tablist" >
            <li class="nav-item text-warning" role="presentation" id="nav">
                <button class="nav-link active text-dark" id="fermier-tab" data-bs-toggle="tab" data-bs-target="#fermier" type="button" role="tab" aria-controls="fermier" aria-selected="true"><b>Fermier</b></button>
            </li>
            <li class="nav-item text-warning" role="presentation" id="nav">
                <button class="nav-link text-dark" id="fournisseur-tab" data-bs-toggle="tab" data-bs-target="#fournisseur" type="button" role="tab" aria-controls="fournisseur" aria-selected="false"><b>Fournisseur</b></button>
            </li>
            <li class="nav-item text-warning" role="presentation" id="nav">
                <button class="nav-link text-dark" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false"><b>Client</b></button>
            </li>
        </ul>
        </div>

        <div class="card-body"> 
        <!-- Contenu des onglets -->
        <div class="tab-content" id="myTabContent">
            <!-- Onglet Fermier -->
            <div class="tab-pane fade show active" id="fermier" role="tabpanel" aria-labelledby="fermier-tab">
                <div class="mt-4">
                    {{ form_start(fermierType, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="mb-3">
                        {{ form_label(fermierType.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fermierType.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fermierType.firstName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fermierType.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fermierType.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fermierType.lastName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fermierType.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fermierType.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fermierType.email) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fermierType.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fermierType.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fermierType.plainPassword) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fermierType.farmName, 'Nom de la ferme', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fermierType.farmName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom de votre ferme'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fermierType.farmName) }}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning btn-lg text-light">S'inscrire</button>
                    </div>

                    {{ form_end(fermierType) }}
                </div>
            </div>

            <!-- Onglet Fournisseur -->
            <div class="tab-pane fade" id="fournisseur" role="tabpanel" aria-labelledby="fournisseur-tab">
                <div class="mt-4">
                    {{ form_start(fournissuerType, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="mb-3">
                        {{ form_label(fournissuerType.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fournissuerType.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fournissuerType.firstName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fournissuerType.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fournissuerType.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fournissuerType.lastName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fournissuerType.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fournissuerType.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fournissuerType.email) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fournissuerType.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fournissuerType.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fournissuerType.plainPassword) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(fournissuerType.companyName, 'Nom de la société', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(fournissuerType.companyName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom de votre société'}}) }}
                        <div class="text-danger">
                            {{ form_errors(fournissuerType.companyName) }}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning btn-lg text-light">S'inscrire</button>
                    </div>

                    {{ form_end(fournissuerType) }}
                </div>
            </div>

            <!-- Onglet Client -->
            <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
                <div class="mt-4">
                    {{ form_start(clientFormType, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="mb-3">
                        {{ form_label(clientFormType.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(clientFormType.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(clientFormType.firstName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(clientFormType.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(clientFormType.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                        <div class="text-danger">
                            {{ form_errors(clientFormType.lastName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(clientFormType.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(clientFormType.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                        <div class="text-danger">
                            {{ form_errors(clientFormType.email) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(clientFormType.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(clientFormType.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
                        <div class="text-danger">
                            {{ form_errors(clientFormType.plainPassword) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(clientFormType.address, 'Address', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(clientFormType.address, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre address'}}) }}
                        <div class="text-danger">
                            {{ form_errors(clientFormType.address) }}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning btn-lg text-light">S'inscrire</button>
                    </div>

                    {{ form_end(clientFormType) }}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}