{% extends 'baseclient.html.twig' %}

{% block title %}Register{% endblock %}




{% block body %}

<style>
    /*------------ Login container ------------*/
.box-area{
  width: 1332px;
  height: 595px;
}
/*------------ Right box ------------*/
.right-box{
  padding: 90px 50px 90px 50px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
  font-size: 16px;
}
.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
   .box-area{
      margin: 0 10px;
   }
   .left-box{
      height: 100px;
      overflow: hidden;
   }
   .right-box{
      padding: 20px;
   }
}

.input-group .btn {
position: relative;
z-index: 2;
height: auto;}

#left-content{
background: #000000;
background: url('/images/logo sans back.png');
background-size: cover;
background-repeat: no-repeat;

}

#logo{
/*background: linear-gradient(to right, #014512,#00fe11,#014512); */
background: #ff8a00;
background-clip: text;
-webkit-text-fill-color: transparent;
}
a{
text-decoration: none;
}
.btn-success{
    background: #ff8a00;
}
</style>


        
        
        <!-- Section droite : Formulaire d'inscription -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                
                <!-- Titre de la page -->
                <div class="header-text mb-4 text-center">
                    <h1 id="logo"><b>Register</b></h1>
                </div>

                <!-- Affichage des erreurs de formulaire -->
                

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="input-group mb-3">
        {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Prenom'} }) }}
        {{ form_errors(registrationForm.firstName) }} 
    </div>

    <div class="input-group mb-3">
        {{ form_widget(registrationForm.lastName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Nom'} }) }}
    </div>    

    <div class="input-group mb-3">
        {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Email'} }) }}
        {{ form_errors(registrationForm.email) }} 
    </div>

    <div class="input-group mb-3">
        {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Mot de passe'} }) }}
    </div>

    <div class="input-group mb-3">
        {{ form_widget(registrationForm.roles, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Rôle'} }) }}
    </div>

    <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr' : {'class': 'form-check-input', 'type': 'radio'}}) }}
        <label class="form-check-label ms-2">{{ form_label(registrationForm.agreeTerms) }}</label>
    </div>

    
  
    <button class="btn btn-lg btn-warning w-100 fs-6 text-light" type="submit">
        <b>Register</b>
    </button>

    {{ form_end(registrationForm) }}
        </div> 
    </div>


{% endblock %}
