{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<style>
a:hover,
a:focus {
    text-decoration:none;
}
.box-header {
    background: #dedede;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}





.box-bottom {
    background: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 0px;
}

.box-text {
    padding: 10px 0px; 
}



.product-img{
      width: 428px;
    height: 374px;
    /* border-radius: 50%; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.facebook-title {
    color:rgb(39, 133, 20);
    font-size: 20px; 
    font-weight: 600;
}
</style>

          
<div class="box">
    <div class="container">
     	<div class="row">
			 

       <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/1.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
              </div>
				 </div>
			</div>	

      <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/2.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	

      <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/3.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	

      <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/11.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	

      <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/5.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	

      <div class="col-lg-4 col-12 text-center mt-4">
                <div class="box-column">
                    <div class="box-header box-header-facebook">
                        <img  src="{{ asset('assets/img/elements/7.jpg') }}" class="product-img" aria-hidden="true"></img>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title facebook-title">
					       Facebook
					    </div>
				     	<div class="box-text">
						    Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.
						</div>
				    	<a href="#" target="_blank">GO NOW</a>
                    </div>
				 </div>
			</div>	









      
		</div>		
    </div>
</div>


{% endblock %}
