{% block body %}
    <style>
        .form-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-container h2 {
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            font-weight: bold;
        }
        
    </style>

    <div class="form-container shadow">
        <div class="card-header">
            <h2><i class="bx bx-edit"></i> Edit Client</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.firstName, {'attr': {'class': 'text-danger'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.lastName, {'attr': {'class': 'text-danger'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(form.address, {'attr': {'class': 'text-danger'}}) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success form-control">
                    <i class="bx bx-save"></i> {{ button_label|default('Update') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
