{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}

    <div class="card">
        <h5 class="card-header">List Clients</h5>
        <button id="signInButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addClientModal"><b> <i class="bx bx-add-to-queue me-1"></i> Add client </b></button>

        <!-- Modal pour ajouter un client -->
        <div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addClientModalLabel">Add Client</h5>
                        <i class="bx bx-add-to-queue me-1"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(clientFormType, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="input-group mb-3">
                            {{ form_widget(clientFormType.firstName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Prenom'} }) }}
                            {{ form_errors(clientFormType.firstName) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(clientFormType.lastName, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Nom'} }) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(clientFormType.address, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Address'} }) }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(clientFormType.email, { 'attr': {'class': 'form-control form-control-lg bg-light fs-6', 'placeholder': 'Email'} }) }}
                            {{ form_errors(clientFormType.email) }}
                        </div>
                       
                        <button class="btn btn-lg btn-success w-100 fs-6 " type="submit">
                            <b>Ajouter</b>
                        </button>
                        {{ form_end(clientFormType) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Tableau des clients -->
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for client in clients %}
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ client.email }}</strong></td>
                            <td>{{ client.firstName }}</td>
                            <td>{{ client.lastName }}</td>
                            <td>{{ client.address }}</td>
                            <td>
                                
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ client.id }}"><i class="bx bx-trash me-1"></i></button>
                            </td>
                        </tr>

                        <!-- Modal de confirmation de suppression pour chaque client -->
                        <div class="modal fade" id="deleteModal{{ client.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ client.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ client.id }}">Confirmation de suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce client ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <form method="post" action="{{ path('app_customer_delete', {'id': client.id}) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun utilisateur trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}