{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-center">
        <img src="{{asset('uploads/images/' ~ equipement.image)}}" >
    </div>
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <div class="row">
        {{ form_label(form.reponse,"reponse") }}  
        {{ form_widget(form.reponse,{'attr':{'placeholder': 'Veuillez entrer le reponse','class':'form-control'}}) }}
        {{ form_errors(form.reponse) }}
    </div>
    <div class="row">
        {{ form_label(form.prix,"prix") }}  
        {{ form_widget(form.prix,{'attr':{'placeholder': 'Veuillez entrer le reponse','class':'form-control'}}) }}
        {{ form_errors(form.prix) }}
    </div>
    <div class="row"> 
        {{ form_label(form.etat,"etat de devis")}}
        {{ form_row(form.etat) }}
    </div>
    <div class="d-grid gap-2 mt-4">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success me-md-2'}}) }}
    </div>
    {{ form_end(form)}}
{% endblock %}