{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
        <div class="row">
            {{ form_label(form.type,"Type") }}  
            {{ form_widget(form.type,{'attr':{'placeholder': 'Veuillez entrer le type','class':'form-control'}}) }}
        </div>
        <div class="d-grid gap-2 mt-4">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success me-md-2'}}) }}
        </div>
    {{ form_end(form)}}
{% endblock %}