<!DOCTYPE html>
<html
lang="en"
  class="light-style layout-menu-fixed">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
   
   <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon/favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  {% block css %}
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/apex-charts/apex-charts.css') }}" />

    <!-- Page CSS -->
 {% endblock %}
    <!-- Helpers -->
    
    {% block stylesheets %}
    
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
 
    {% endblock %}

    <style>
    .logo{
      width: 100px;
    height: 100px;
    margin-left: 49px;
    }
    .text-success{
      font-size: larger;
    background-color:rgb(233, 233, 233);
    }
    
    
    </style>

</head>

<body>
<div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

{% block sidebar %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{{ path('app_admin') }}" class="app-brand-link mt-3 mb-3">
            
              <span class="app-brand-logo demo">
              <img src="{{ asset('assets/img/logo sans back.png') }}" alt="Logo" class="logo" />
              </span>  
                  
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <li class="menu-item">
    <a href="{{ path('app_dashboard') }}" class="menu-link text-success">
        <b>
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
        </b>
        <div data-i18n="Analytics"><b>Dashboard</b></div>
    </a>
</li>

<li class="menu-header small text-uppercase">
    <span class="menu-header-text">Menu</span>
</li>

{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_FERMIER') or is_granted('ROLE_FOURNISSEUR') %}
    <li class="menu-item">
        <a href="{{ path('app_customers') }}" class="menu-link">
            <i class="menu-icon bi bi-box-seam-fill"></i>
            <div data-i18n="Account Settings">Equipements</div>
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_FERMIER') or is_granted('ROLE_FOURNISSEUR') %}
    <li class="menu-item">
        <a href="{{ path('app_products') }}" class="menu-link">
            <i class="menu-icon bi bi-cart-check-fill"></i>
            <div data-i18n="Account Settings">Produits</div>
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_FERMIER') %}
    <li class="menu-item">
        <a href="{{ path('app_events') }}" class="menu-link">
            <i class="bi bi-calendar-check-fill menu-icon"></i>
            <div data-i18n="Account Settings">Evennements</div>
        </a>
    </li>
{% endif %}



{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="menu-header small text-uppercase">
    <span class="menu-header-text">Utilisateurs</span>
</li>
    <li class="menu-item">
        <a href="{{ path('app_customers') }}" class="menu-link">
            <i class="menu-icon bi bi-person-fill"></i>
            <div data-i18n="Account Settings">Clients</div>
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="menu-item">
        <a href="{{ path('app_fermiers') }}" class="menu-link">
            <i class="menu-icon bi bi-person-check-fill"></i>
            <div data-i18n="Account Settings">Fermiers</div>
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="menu-item">
        <a href="{{ path('app_fournisseurs') }}" class="menu-link">
            <i class="menu-icon bi bi-person-check-fill"></i>
            <div data-i18n="Account Settings">Fournisseurs</div>
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="menu-item">
        <a href="{{ path('app_emp') }}" class="menu-link">
            <i class="menu-icon bi bi-person-fill-gear"></i>
            <div data-i18n="Account Settings">Employees</div>
        </a>
    </li>
{% endif %}

<li class="menu-header small text-uppercase">
    <a href="{{path('add_equipement')}}"><span class="menu-header-text">Ajouter un equipement</span></a>
</li>
<li class="menu-header small text-uppercase">
    <a href="{{path('show_equipement_dashboard')}}"><span class="menu-header-text">Consulter equipements</span></a>
</li>
<li class="menu-header small text-uppercase">
    <a href="{{path('add_category_equipement')}}"><span class="menu-header-text">Ajouter une categorie</span></a>
</li>
<li class="menu-header small text-uppercase">
    <a href="{{path('show_category_equipement')}}"><span class="menu-header-text">Consulter Categorie</span></a>
</li>

{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_FERMIER') or is_granted('ROLE_FOURNISSEUR') or is_granted('ROLE_EMPLOYEE') %}
    <li class="menu-item">
        <a href="{{ path('app_profile') }}" class="menu-link">
            <i class="menu-icon bi bi-person-fill-gear"></i>
            <div data-i18n="Account Settings">Profile</div>
        </a>
    </li>
{% endif %}
            
          </ul>
        </aside>
{% endblock %}
<div class="layout-page">
{% block header %}
   <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <h4 class="mt-3"> Welcome to your space </h4>
                  
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <!-- User -->
                <li class="nav-item">
                  <a  href="{{ path('app_logout') }}" class="btn btn-outline-danger">
                  <i class="bi bi-box-arrow-left mx-2"></i> 
                  Logout</a>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>
{% endblock %}
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
          {%  block body %}
          {% endblock %}
           </div> 
           {%  block footer %}
           <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer>
          {% endblock %}
          <div class="content-backdrop fade"></div>
 </div>  
 </div>     


  {% block js %}
      <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
      <script src="{{ asset('assets/vendor/libs/jquery/jquery.js') }}"></script>
      <script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
      <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
      <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

      <script src="{{ asset('assets/vendor/js/menu.js') }}"></script>
      <!-- endbuild -->

      <!-- Vendors JS -->
      <script src="{{ asset('assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>

      <!-- Main JS -->
      <script src="{{ asset('assets/js/main.js') }}"></script>

      <!-- Page JS -->
      <script src="{{ asset('assets/js/dashboards-analytics.js') }}"></script>

      <!-- Place this tag in your head or just before your close body tag. -->
      <script src="{{ asset('assets/vendor/js/helpers.js') }}"></script>

      <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
      <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
      <script src="{{ asset('assets/js/config.js') }}"></script>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock %}
</body>





    




</html>