<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ asset('assetsclient/css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ asset('assetsclient/css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ asset('assetsclient/css/responsive.css') }}">
    <!-- fevicon -->
    <link rel="icon" href="{{ asset('assetsclient/images/fevicon.png') }}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ asset('assetsclient/css/jquery.mCustomScrollbar.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}

    {% endblock %}

    <style>
    .box-area {
        width: 1332px;
        height: 595px;

    }

    /*------------ Right box ------------*/
    .right-box {
        padding: 90px 50px 90px 50px;

    }

    /*------------ Custom Placeholder ------------*/
    ::placeholder {
        font-size: 16px;
    }

    .rounded-4 {
        border-radius: 20px;

    }

    .rounded-5 {
        border-radius: 30px;

    }

    /*------------ For small screens------------*/
    @media only screen and (max-width: 768px) {
        .box-area {
            margin: 0 10px;
        }

        .left-box {
            height: 100px;
            overflow: hidden;
        }

        .right-box {
            padding: 20px;
        }
    }

    .input-group .btn {
        position: relative;
        z-index: 2;
        height: auto;
    }

    #left-content {
        background: #000000;
        background: url('/assets/img/logo sans back.png');
        background-size: cover;
        background-repeat: no-repeat;

    }

   .m{
      font-size: x-large;
    font-family: system-ui;
    font-weight: bolder;
   }

    a {
        text-decoration: none;
    }

    .btn-success {
        background: #009a00;
    }

    .ajust{
        width: 148px;
    margin-left: -25px;
    margin-top: 7px;
    }

    .dropdown-menu{
        
    background: #cfc6aa;
    }
   
    </style>
</head>

<body class="main-layout">

    {% block header %}

    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                <b>
                                    <a href="{{ path('app_client') }}" class="text-light m">Agri<span class="text-warning">Connect</span></a>
                                 </b>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('app_client') }}"> Home </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#products">Products </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_event_indexclient') }}">Events </a>
                                    </li>

                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('publication_client') }}">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">Contact</a>
                                    </li>
                                    <li class="nav-item d_none">
                                        <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </li>
                                    <li class=" d_none get_btn">
                                         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="dropdown">
  <a class="dropdown-toggle text-light" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <div class="ajust">
    <a class="dropdown-item text-dark" href="{{ path('app_profile') }}"><b>Profile</b></a>
   
    <a class="dropdown-item text-dark" href="{{ path('app_logout') }}"><b>Logout</b></a>
   
    <a class="dropdown-item text-dark" href="#"><b>Something</b></a>
    </div>
  </div>
</div>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
                                    </li>
                                </ul>
                               
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->

    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
    <!--  footer -->
    <footer id="contact">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="titlepage">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form id="request" class="main_form">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                </div>
                                <div class="col-md-3">
                                    <input class="contactus" placeholder="Email" type="type" name="Email">
                                </div>
                                <div class="col-md-3">
                                    <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                    <ul class="social_icon">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="contactus1" placeholder="Message" type="type" Message="Name">Message </textarea>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <button class="send_btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 border_right">
                        <ul class="location_icon">
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Locatins</li>
                            <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +71 9087654321</li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>demo@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-md-3 border_right">
                        <h3>Useful Link</h3>
                        <ul class="link">
                            <li><a href="#">humour, or </a></li>
                            <li><a href="#">randomised words </a> </li>
                            <li><a href="#">which don't look </a></li>
                            <li><a href="#">even slightly </a> </li>
                            <li><a href="#">believable. If </a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 border_right">
                        <h3>Menus</h3>
                        <ul class="link">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <form class="bottom_form">
                            <h3>Newsletter</h3>
                            <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                            <button class="sub_btn">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2025 All Right Reserved By <a href="https://html.design/">Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    {% endblock %}

    <!-- Javascript files-->
    <script src="{{ asset('assetsclient/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assetsclient/js/popper.min.js') }}"></script>
    <script src="{{ asset('assetsclient/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assetsclient/js/jquery-3.0.0.min.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ asset('assetsclient/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('assetsclient/js/custom.js') }}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>